@using Models

@{
    ViewBag.Title = "MijnAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["Klant"] == null)
{
    Response.Redirect("../Home/Index");
}
else
{
    var klant = Session["Klant"] as Klant;

    if (klant != null)
    {


<center style="padding: 4rem 2rem;">
    <div class="container">

        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">@klant.Voornaam @klant.Achternaam</h4>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-5 col-xs-6 tital ">Voornaam:</div><div class="col-sm-7 col-xs-6 ">@klant.Voornaam</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Achternaam:</div><div class="col-sm-7">  @klant.Achternaam</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Straat:</div><div class="col-sm-7">@klant.Straat</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Huisnummer:</div><div class="col-sm-7">@klant.Huisnummer</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">
                                @klant.Email</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Geboortedatum:</div><div class="col-sm-7">@klant.Geboortedatum</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</center>
       

    }
}

