@using System.Security.Policy
@using System.Web.UI.WebControls
@using Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Lunar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body style="padding-top: 0px; text-align: left;">
    @{
        var klant = Session["Klant"] as Klant;
        var admin = Session["Administrator"] as Administrator;
    }

    @if (klant != null || admin != null)
    {
        if (klant != null)
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a>Welkom, @klant.Voornaam</a>
                        </li>
                        <li class="nav-item">
                            <a>Saldo : €@klant.Saldo</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mijn Games", "GameBibliotheek", "Klant", new { id = @klant.KlantID }, new { @style = "color:White;" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mijn Account", "MijnAccount", "Klant", null, new { @style = "color:White;" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Saldo uploaden", "SaldoUploaden", "Klant", new { id = @klant.KlantID, gebruikersnaam = @klant.Gebruikersnaam }, new { @style = "color:White;" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mijn winkelwagen", "Myorder", "WinkelwagenManagement", new { id = @klant.KlantID }, new { @class = "classname" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("uitloggen", "Uitloggen", "Klant", null, new { @style = "color:White;" })
                        </li>
                    </ul>
                </div>
            </nav>

        }
        if (admin != null)
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a>Welkom Admin, @admin.Voornaam @admin.Achternaam</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Dashboard", "Product", "Producten", null, new { @style = "color:White;" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("uitloggen", "Uitloggen", "Klant", null, new { @style = "color:White;" })
                        </li>
                    </ul>
                </div>
            </nav>
        }
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Klant", null, new { @style = "color:White;" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Registreren", "RegistratieKlant", "Klant", null, new { @style = "color:White;" })
                    </li>
                </ul>
            </div>
        </nav>
    }

@RenderBody()
    
        <footer>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <script src="/Scripts/Jeremy.js"></script>
        </footer>
</body>
</html>
