@using System.Security.Policy
@using System.Web.UI.WebControls
@using Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Lunar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>
<body style="padding-top: 0px; text-align: left;">
    @{
        var klant = Session["Klant"] as Klant;
        var admin = Session["Administrator"] as Administrator;
    }

    @if (klant != null || admin != null)
    {
        if (klant != null)
        {
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("GameBibliotheek", "Klant", new { id = @klant.KlantID })">Mijn games</a></li>
                        <li><a href="@Url.Action("SaldoUploaden", "Klant", new { id = @klant.KlantID, gebruikersnaam = @klant.Gebruikersnaam })">Saldo uploaden</a></li>
                        <li><a href="@Url.Action("MijnAccount", "Klant", new { @style = "color:White;" })">Account</a></li>
                        <li><a href="@Url.Action("Myorder", "WinkelwagenManagement", new { id = @klant.KlantID })">Winkelwagen</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a>Welkom, @klant.Voornaam Saldo : €@klant.Saldo</a></li>
                        <li><a href="@Url.Action("Uitloggen", "Klant", new {@style = "color:White;"})">Uitloggen</a></li>
                    </ul>
                </div>
            </nav>

        }
        if (admin != null)
        {

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a>Welkom Admin, @admin.Voornaam @admin.Achternaam</a></li>
                        <li><a href="@Url.Action("Product", "Producten",new { @style = "color:White;" })">Dashboard</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Uitloggen", "Klant",  new { @style = "color:White;" })">Uitloggen</a></li>
                    </ul>
                </div>
            </nav>
        }
    }
    else
    {
    
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Lunar</a>
                </div>
                <ul class="nav navbar-nav">
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login", "Klant",new { @style = "color:White;" })">Inloggen</a></li>
                    <li><a href="@Url.Action("RegistratieKlant", "Klant", new {@style = "color:White;"})">Registreren</a></li>
                </ul>
            </div>
        </nav>
    }

@RenderBody()
    
        <footer>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <script src="/Scripts/Jeremy.js"></script>
        </footer>
</body>
</html>
