@using System.Activities.Expressions
@using Models
@model IEnumerable<Models.Product>
@if (Session["Klant"] != null)
{
    var klant = Session["Klant"] as Klant;
    <div style="padding: 4rem 2rem; width: 80%; height: 100%; position: relative; bottom: 0%; left: 10%; right: 0%; margin: auto;">
        <ul style="list-style: none; margin: 0; padding: 0; overflow: hidden;padding: 4rem 2rem; float: left; width: 80%;">
            @foreach (var item in Model)
            {
                if (item.Hoeveelheid == 0)
                {
                    <li style="float: left; padding-right: 2%; padding-bottom: 2%;">
                        <div style="display: inline-block; width: 255px; height: 322px;">
                            <div style="width: 255px; height: 161px; position: relative; display: flex; justify-content: center; align-items: center; background: url(@Url.Content(item.AchtergrondFoto)) no-repeat; background-size: cover;">
                                <div style="width: 80px; height: 100px; position: absolute; margin-top: 50px; margin-left: -62px; z-index: 1; border: 1px solid #e0e0e0;">
                                    <img style="width: 100%;" src="@Url.Content(item.Foto)" class="img-responsive" alt="a" />
                                </div>

                            </div>
                            <div style="width: 255px; height: 161px; background-color: rgb(255, 255, 255); position: relative; border: 1px solid #e0e0e0;">
                                <p style="padding-top: 10%;">
                                    <h6 style="color: black; margin-left: 10%;">@Html.DisplayFor(modelItem => item.Naam)</h6>
                                    <h4 style="color: black; margin-left: 10%;">€@Html.DisplayFor(modelItem => item.Prijs)</h4>
                                    @Html.ActionLink("Details", "Details", "Producten", new { id = item.ProductID }, new { @style = "margin-left: 10%" })
                                            <a href="#" class="PreviewProduct" data-toggle="modal" data-target="#myModal" data-productid="@item.ProductID">Preview</a>
                                    <a id="btn_add">
                                <p style="margin-left: 10%;">Uitverkocht</p>
                                </a>
                                </p>

                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li style="float: left;padding-right: 2%; padding-bottom: 2%;">
                        <div style="display: inline-block; width: 255px; height: 322px;">
                            <div style="width: 255px; height: 161px; position: relative; display: flex; justify-content: center; align-items: center; background: url(@Url.Content(item.AchtergrondFoto)) no-repeat; background-size: cover;">
                                <div style="width: 80px; height: 100px; position: absolute; margin-top: 50px; margin-left: -62px; z-index: 1; border: 1px solid #e0e0e0;">
                                    <img style="width: 100%;" src="@Url.Content(item.Foto)" class="img-responsive" alt="a" />
                                </div>

                            </div>
                            <div style="width: 255px; height: 161px; background-color: rgb(255, 255, 255); position: relative; border: 1px solid #e0e0e0;">
                                <p style="padding-top: 10%;">
                                    <h6 style="color: black; margin-left: 10%;">@Html.DisplayFor(modelItem => item.Naam)</h6>
                                    <h4 style="color: black; margin-left: 10%;">€@Html.DisplayFor(modelItem => item.Prijs)</h4>
                                    @Html.ActionLink("Details", "Details", "Producten", new { id = item.ProductID }, new { @style = "margin-left: 10%" })
                                    <a href="#" class="PreviewProduct" data-toggle="modal" data-target="#myModal" data-productid="@item.ProductID">Preview</a>
                                    <a id="btn_add" href=@Url.Action("Add", "WinkelwagenManagement", new {KlantID = klant.KlantID, ProductID = item.ProductID})>
                                    <p style="margin-left: 10%;">Voeg toe aan winkelwagen</p>
                                </a>
                                </p>

                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
}
else
{
    <div style="padding: 4rem 2rem; width: 80%; height: 100%; position: relative; bottom: 0%; left: 10%; right: 0%; margin: auto;">
        <ul style="list-style: none; margin: 0; padding: 0; overflow: hidden;padding: 4rem 2rem; float: left; width: 80%;">
            @foreach (var item in Model)
        {
            <li style="float: left; padding-right: 2%; padding-bottom: 2%;">
                <div style="display: inline-block; width: 255px; height: 322px;">
                    <div style="width: 255px; height: 161px; position: relative; display: flex; justify-content: center; align-items: center; background: url(@Url.Content(item.AchtergrondFoto)) no-repeat; background-size: cover;">
                        <div style="width: 80px; height: 100px; position: absolute; margin-top: 50px; margin-left: -62px; z-index: 1; border: 1px solid #e0e0e0;">
                            <img style="width: 100%;" src="@Url.Content(item.Foto)" class="img-responsive" alt="a" />
                        </div>
                    </div>
                    <div style="width: 255px; height: 161px; background-color: rgb(255, 255, 255); position: relative; border: 1px solid #e0e0e0;">
                        <p style="padding-top: 10%;">
                            <h6 style="color: black; margin-left: 10%;">@Html.DisplayFor(modelItem => item.Naam)</h6>
                            <h4 style="color: black; margin-left: 10%;">€@Html.DisplayFor(modelItem => item.Prijs)</h4>
                            @Html.ActionLink("Details", "Details", "Producten", new { id = item.ProductID }, new { @style = "margin-left: 10%" })
                            <a href="#myModal" class="PreviewProduct" data-toggle="modal" data-target="#myModal" data-productid="@item.ProductID">Preview</a>
                        </p>
                    </div>
                </div>
            </li>
    }
        </ul>
    </div>

}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>