@using LunarWebShop.Models
@model LunarWebShop.Models.ViewModelProductKeycodeList


@if (Session["Klant"] == null)
{
    Response.Redirect("../Home/Index");
}
else
{
    var klant = Session["Klant"] as Klant;

    if (klant != null)
    {

        if (Model == null)
        {<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Product)
                        {

                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                                <td>In stock</td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.Prijs) €</td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Totaal</strong></td>
                            <td class="text-right"><strong>€ @Model.TotaalBedrag<</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
        }
        else
        {



            <div class="container mb-4">
                <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Voorraad</th>
                            <th scope="col">Hoeveelheid</th>
                            <th scope="col">Prijs</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>

                    @foreach (var item in Model.Product)
                    {
                        
                        <tr>
                            <td> <img style="width: 20%;" src="@Url.Content(@item.Foto)" alt="@item.Naam" /> </td>
                            <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                            <td>Op voorraad</td>
                            <td>1</td>
                            <td>€@Html.DisplayFor(modelItem => item.Prijs)</td>
                            <td>
                                @Html.ActionLink("Verwijderen", "Remove", new { KeycodeID = item.Keycode.First().KeycodeID, id = klant.KlantID })
                            </td>

                        </tr>

                    }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Totaal</strong></td>
                            <td><strong>€ @Model.TotaalBedrag</strong></td>
                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button class="btn btn-block btn-light">@Html.ActionLink("Doorgaan met winkelen", "Index", "Home", null, null)</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button class="btn btn-lg btn-block btn-success text-uppercase">Afrekenen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
