@using LunarWebShop.Models
@model LunarWebShop.Models.ViewModelProductKeycodeList
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}
else
{
    if (Session["Klant"] == null)
    {
        Response.Redirect("../Home/Index");
    }
    else
    {
        var klant = Session["Klant"] as Klant;

        if (klant != null)
        {

            if (Model.Product.Count == 0)
            {
                <p>U heeft geen producten in uw winkelwagen</p>
            }
            else
            {
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Voorraad</th>
                                        <th scope="col">Hoeveelheid</th>
                                        <th scope="col">Prijs</th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @foreach (var item in Model.Product)
                                    {

                                        <tr>
                                            <td> <img style="width: 20%;" src="@Url.Content(@item.Foto)" alt="@item.Naam"/> </td>
                                            <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                                            <td>Op voorraad</td>
                                            <td>1</td>
                                            <td>€@Html.DisplayFor(modelItem => item.Prijs)</td>
                                            <td>
                                                @Html.ActionLink("Verwijderen", "Remove", new {KeycodeID = item.Keycode.First().KeycodeID, id = klant.KlantID})
                                            </td>

                                        </tr>

                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Totaal</strong></td>
                                        <td><strong>€ @Model.TotaalBedrag</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="row">
                                <div class="col-sm-12  col-md-6">
                                    @Html.ActionLink("Doorgaan met winkelen", "Index", "Home", null, null)
                                </div>
                                @for (int i = 0; i < Model.Product.Count; i++)
                                { 
                                     @Html.ActionLink("Afrekenen met huidige saldo", "ProductVerkopen", "Klant", new { productid = Model.Product[i].ProductID, id = klant.KlantID, gebruikersnaam = klant.Gebruikersnaam }, null)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
       
        }
    }
    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }
}
